*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('img/bck.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  text-align: center;
  color: #1a1a00;
  font-family: 'Castoro', serif;
}
img{
  height: 150px;
  width: auto;
  border: 2px solid black;
  border-radius: 10%;
  padding: 2px;
  background-color: darkgrey;
  top: 25px;
  max-width: 90%;
}
.content{
  padding: 5% 5%;
  line-height: 1.5;
  font-size: 22px;
  background-color: hsla(60, 100%, 35%,.6);
  width: 750px;
  max-width: 90%;
  margin-right: 80px; 
  margin-left: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 2px black;
  border-radius: 10%;
  float: right;
  margin-top: 50px;
 }
.img{
  margin-top: 50px;
  margin-left: 80px;
  float: left;   
}
img:hover{
  transform: scale(2);
  transition: all 0.9s ease-in-out;
  margin-left: 60px;
  margin-top: 30px;
}
#quote{
  float: left;
  padding: 50px 40px;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}
.about{
  font-family: 'Castoro', serif;
  font-size: 25px;
  font-weight: bold;
  color: #1a1a00;
}
li{
    display: inline
}
th, tr, td {
  border-collapse: collapse;
  color: #000000;
  text-align: center;
}
ul{
  text-align: center;
}
table{
  margin: 0 auto;
}
li a:hover{
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 850px) and (min-width: 250px){
  h1,h2,p,#quote,tr,th,a{
    font-size: 1.2rem;
  }
  .content{
    margin: 0 auto;
    max-width: 95%;
  }
}

a{
  color: black;
}
